<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.Front_End" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />
	<application android:label="Front_End" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
</manifest>